target/
examples/**
!examples/fonts/
!examples/assets/
!examples/assets/markdownBlogPost/
!examples/assets/markdownBlogPost/**
!examples/assets/jinjaMarkdownArticle/
!examples/assets/jinjaMarkdownArticle/**